<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>application-identifier</key>
	<string>AAAAAAAAAA.com.nito.AirPhoto</string>
	<key>com.apple.developer.team-identifier</key>
	<string>BBBBBBBBBB</string>
	<key>keychain-access-groups</key>
	<array>
		<string>AAAAAAAAAA.com.nito.AirPhoto</string>
	</array>
	<key>com.apple.private.security.no-container</key>
	<true/>
	<key> com.apple.private.security.no-sandbox</key>
	<true/>
	<key>platform-application</key>
	<true/>
</dict>
</plist>
